@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Epilogue:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Lily+Script+One&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@300;500&family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700;1,800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,600;1,700;1,800;1,900;1,1000&family=Quicksand:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*set the scroll behavior to smooth*/
html {
  scroll-behavior: smooth;
}
:root {
  --whiteColor: #fff;
  --lightColor: #ebe0e0;
  --brownColor: brown;
  --blackColor: #000;
  --font-size-head: 30px;
  --font-size-paragraph: 17px;
}
@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1116;
  padding-top: 20px;
}
.logo {
  cursor: pointer;
}
/*just did*/
@media (min-width: 1000px) {
  .nav {
    width: 100%;
  }
}/**/

.logo {
  padding-left: 20px;
  cursor: pointer;
}

.hamburger {
  padding-right: 20px;
  color: #0d1116;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
}

/*just did*/

/**/

/*just did*/
@media (max-width: 1000px) {
  .lin {
    margin-bottom: 20px;
  }
  .nav__link {
    position: absolute;
    padding: 30px;
    z-index: 99;
    width: 80%;
    right: 20px;
    top: 100px;
    background-color: #1b2128;
    border-radius: 15px;
  }
  .hide {
    display: none;
  }
  .logoes{
    width: 80px;
   }
}
/**/

.nav__link a {
  display: block;
  text-align: center;
  padding: 0px 0;
  
  
}

/*just did*/
@media (max-width: 1000px) {
  .nav__link a {
    font-size: 18px;
    display: flex;
  }
  
}

/*just did*/
.nav__link a:hover {
  opacity: 0.5;
}
/**/

/*just did*/
@media screen and (min-width: 1000px) {
 .logoes{
  width: 100px;
 }
  .nav {
    background-color: #0d1116;
    padding: 16px 40px;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
  }

  .hamburger {
    display: none;
  }
}
/**/

.home-page p {
  font-size: 18px;
  color: #fff;
  line-height: 35px;
  opacity: 0.6;
  width: 100%;
  max-width: 530px;
}

.home {
  justify-content: center;
  width: 100%;
  align-items: center;
  /* Needed for proper stacking */
}
@media (min-width: 1000px) and (max-width: 1300px){
  .home-page{
    background-color: #0d1116;
    height: 450px;
    margin: auto;
   
  }
  
  .home-page h1{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 50px;
    padding-bottom: 15px;
  }
  .home-page p{
    text-align: center;
    width: 100%;
    margin: auto;
  }
  #video-background {
    width: 100%;
    height: 100%;
  
    z-index: 1; /* Put the video behind other content */
  }
  

}
@media (min-width: 1300px) {
  .home {
    height: 100vh;
  }
  #video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1; /* Put the video behind other content */
  }
  .home-page {
    top: 200px;
    position: absolute;
    left: 70px;
    z-index: 5;
    display: block;
    font-size: var(--font-size-head);
    max-width: 1000px;
    width: 100%;
  }
  .orange {
    color: #151521;
    opacity: 1;
    font-weight: bold;
  }
}

/* Default styles for larger screens */

/* Media query for mobile devices */
@media (max-width: 1000px) {
  .home {
    display: block;
  }
  .home-page {
    text-align: center;
  }

  #video-background {
    width: 100%;
    height: auto; /* Set height to auto to maintain aspect ratio */
    position: relative;
    /* Remove static positioning */
  }
}

/* @media (min-width: 400px) {
  .home{
    height: 200vh;
  }
}  */
@media (max-width: 1000px) {
  .home-page {
    position: relative;
    top: 0px;
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: #0d1116;
    z-index: 5;
    display: block;
    font-size: var(--font-size-head);
    max-width: 1000px;
    width: 100%;
  }
  .orange {
    color: #fff;
    opacity: 1;
    font-weight: bold;
  }
  .home-page p {
    max-width: 400px;
    text-align: center;
    padding-top: 17px;
    font-size: 17px;
    margin: auto;
  }
}

.rest-text {
  color: #d48216;
}
.anime {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -750px 0;
  animation-duration: 2s;
  animation: backcolor 5s linear alternate infinite;
}
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

@media (min-width: 430px) and (max-width: 600px) {
  .home-page h1 {
    max-width: 450px;
    text-align: center;
    line-height: 45px;
    margin: auto;
    font-size: 40px;
  }
  .home-page p {
    max-width: 400px;
    font-size: 16px;
    padding-top: 10px;
    margin: auto;
  }
}
@media (max-width: 430px) {
  .home-page h1 {
    max-width: 450px;
    text-align: center;
    line-height: 45px;
    margin: auto;
    padding: 0px 10px;
    font-size: 40px;
  }
  .home-page p {
    max-width: 400px;
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .home-page h1 {
    max-width: 550px;
    text-align: center;
    line-height: 60px;
    margin: auto;
    font-size: 50px;
  }
  .home-page p {
    max-width: 500px;
    font-size: 20px;
    padding-top: 15px;
    margin: auto;
  }
}

.btn {
  padding: 15px 65px;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #d48216;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: var(--font-size-paragraph);
  font-weight: bold;
  transition: 1s all ease-in-out 0s;
}
#btnx {
  text-transform: uppercase;
  opacity: 0.8;
}
.btn:hover::before {
  right: unset;
  left: 0;
  width: 100%;
}
.btn::before {
  content: "";
  background-color: #e98a0e;
  position: absolute;
  left: unset;
  top: 0;
  color: #fff;
  z-index: -1;
  left: 0;
  width: 100%;
  border-radius: 30px;
  transition: 0.6s all ease-in-out 0s;
  height: 100%;
  width: 0;
}
.home-page button {
}
.home-page h1 {
  color: var(--lightColor);
  text-transform: uppercase;
}
/*About section*/
.About {
  background-color: #efefef;
  width: 100%;
}
.About-title h2 {
  color: #d48216;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .About-mid p {
    width: 100%;
    text-align: left;
    line-height: 40px;
  }
  .About {
    padding: 0px 20px;
  }

  .imageFirst {
    width: 100%;
    border-radius: 25px;
    margin: auto;
    display: block;
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .About-mid p {
    width: 100%;
    max-width: 700px;
  }
  .About {
    padding: 0px 0px;
  }

  .imageFirst {
    width: 100%;
    border-radius: 25px;
    margin: auto;
    display: block;
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 600px) and (max-width: 1300px){
  .About-title h2{
    text-align: center;
  }
  .About-title p{
    text-align: center;
  }
  .flex2{
    display: block;
    margin: auto;
  }
  .imageFirst {
    width: 80%;
    margin: auto;
    display: block;
  }
  .About p {
    width: 100%;
  }
  .About-text p {
    opacity: 0.5;
    line-height: 28px;
    font-weight: 500;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .flex2 {
    display: block;
    margin: auto;
  }

  .About-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .About-mid {
    padding-left: 10px;
  }
  .About-text p {
    font-weight: 300;
    opacity: 0.8;
    margin: auto;
    line-height: 30px;
    padding-bottom: 35px;
    font-size: 17px;
    padding-top: 10px;
  }
}
@media (min-width: 1000px) {
}
.imageFirst {
  transition: 0.5s ease-in-out;
  border-radius: 25px;
  cursor: pointer;
}
.imageFirst:hover {
  transform: scale(1); /* Adjust the scale factor for desired zoom level */
}

@media (min-width: 1300px) {
  .About p {
    width: 100%;
    max-width: 400px;
  }
  .About {
  }
  .aboutimg {
  }
  .imageFirst {
    max-width: 550px;
    width: 100%;
  }
  .About-text p {
    opacity: 0.5;
    line-height: 28px;
    font-weight: 500;
    width: 100%;
    max-width: 500px;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .imageFirst {
    max-width: 90%;
  }
}
.About {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
}
.About-title h2 {
  padding-bottom: 8px;
}
.About-title p {
  opacity: 0.4;
  padding-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

/*Help section*/
.flex3 {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px; /* Adjust the padding as needed */
}
.Help-title h2 {
  color: #333;
}

@media (min-width: 1000px) and (max-width: 1300px){
  .Help-title h2{
    text-align: center;
  }
  #imago{

  }
  .flex3{
    display: block;
    margin: auto;
  }
  .Help-text p {
    width: 80%;
    opacity: 0.5;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    margin: auto;
    padding-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .Help-text p {
    width: 100%;
    opacity: 0.5;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }
  .flex3 {
    display: block;
    padding: 0px 40px; /* Adjust the padding for this screen width */
  }
}
@media (max-width: 600px) {
  .Help-text p {
    opacity: 0.8;
    line-height: 30px;
    padding-bottom: 15px;
    opacity: 0.8;
    width: 100%;
  }
  .flex3 {
    display: block;
    padding: 0px 20px;
  }
}
a {
  text-decoration: none;
}
@media (min-width: 1300px) {
  .Help-text p {
    width: 100%;
    opacity: 0.5;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
    max-width: 500px;
  }
  .flex3 {
    display: flex;
    padding: 0px 0px;
  }
}
.Help {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
  align-items: center;
  justify-content: center;
}
.Help-title h2 {
  padding-bottom: 8px;
  color: #d48216;
}
@media (max-width: 1000px) {
  .Help-title {
    text-align: center;
  }
  .Help {
    width: 100%;
  }

  .Help-text {
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .Help-text p {
    margin: auto;
  }
  #btnz {
    display: block;
    margin: auto;
  }
  #imago {
    padding-top: 35px;
  }
}
.donat {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#btnz:hover {
  color: #d48216;
}
.Help-title p {
  opacity: 0.8;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  padding-bottom: 35px;
  font-size: 17px;
  text-transform: uppercase;
}
.About-text {
}

#btnz {
  color: #e98a0e;
}
#btnz:hover {
  color: #fff;
}
/*google form*/
.google-form {
}

/*join or subscribe secton*/
.subscribe {
  background: url("jigsaw.jpg");
  background-color: #534d4d;
  background-attachment: fixed;
  background-blend-mode: multiply;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 50px 20px;
  align-items: center;
}
.subs {
  text-align: center;
  margin: auto;
}
.subs p {
  width: 100%;
  max-width: 500px;
  font-weight: 200;
  opacity: 0.8;
  margin: auto;
  line-height: 30px;
  text-align: center;
  color: #fff;
  padding-bottom: 35px;
  font-size: 17px;
  padding-top: 10px;
}
.subscribe h2 {
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.subscribe p {
  font-size: 18px;
}

/*footer*/
.footer {
  background-color: #222222;
  color: #ebe0e0;
}
.footer-first {
  font-size: 15px;
  width: 100%;
  font-weight: 100;
  max-width: 400px;
}

.copyright {
}

@media (max-width: 1000px) {
  .footer {
    padding: 30px;
  }
  .footer-content {
    display: block;
  }
  .footer-first p {
    font-weight: 100;
    font-size: 15px;
  }
  .footer-content p {
    font-weight: 100;
    opacity: 0.7;
    word-spacing: 2px;
  }
  .adre-bus {
    align-items: center;
    line-height: 35px;
    display: flex;
  }
  .footer-links {
    display: block;
    margin: auto;
    text-align: center;
  }
  .footer-first b {
    font-size: 18px;
    padding-bottom: 2px;
  }
  .pader p {
    text-align: center;
    max-width: 70%;
    margin: auto;
    display: block;
  }
  .linkzo {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
  }
  .tele a {
    font-size: 15px;
  }
  .forma {
    font-size: 15px;
  }
  .footer {
    padding: 35px 30px 25px 30px;
  }
  .adress p {
    font-weight: 100;
  }
  .adre-bus p {
    padding-left: 10px;
    font-size: 15px;
  }
  .tele {
    text-decoration: underline;
  }
  .gap {
    line-height: 30px;
    padding-bottom: 20px;
  }
  .hur {
    display: flex;
    justify-content: space-between;
  }
  .midd {
    padding-top: 20px;
  }
}
@media (min-width: 1000px) {
  .footer-links {
    display: block;
    line-height: 50px;
    margin: 0;
    padding: 0;
  }
  .adre-bus p {
    padding-left: 10px;
    font-size: 18px;
  }
  .tele {
    text-decoration: underline;
  }
  .gap {
    line-height: 50px;
  }
  .footer {
    padding: 70px 50px 70px 50px;
  }
  .footer-first p {
    padding-top: 8px;
    font-size: 18px;
  }
  .footer-first button {
    margin-top: 50px;
  }
  .adress b {
    font-weight: 500;
  }
  .adress p {
    font-weight: 100;
  }
  .adress {
    display: block;
    font-size: 15px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-first b {
    font-size: 20px;
    padding-bottom: 3px;
  }

  .footer-links {
    list-style: none;
  }

  .footer-links li {
    margin-right: 20px;
    font-size: 15px;
  }

  .footer-links a {
    color: #ebe0e0;
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }
  .hur {
    display: flex;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    position: absolute;
    left: 45%;
    justify-content: center; /* Horizontally center the logo */ /* Vertically center the logo */
    flex-direction: column; /* Stack logo above text if needed */
  }
  .adress {
    position: relative;
  }
}
.btne {
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #d48216;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transition: 1s all ease-in-out 0s;
}
.btner {
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #d48216;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  outline: none;
  color: #151521;
  font-size: 15px;
  font-weight: bold;
  transition: 1s all ease-in-out 0s;
}
#btnxe {
  text-transform: uppercase;
  opacity: 0.8;
}
.locate {
  color: #fff;
}
.adre-bus {
  display: flex;
  align-items: center;
}
.pad {
  padding-top: 20px;
}
.opaque {
  opacity: 0.3;
}
.pader p {
  padding-top: 20px;
  opacity: 0.7;
}
.footer-first {
  padding-bottom: 30px;
}
.forma {
  text-decoration: underline;
  color: #d48216;
  padding-right: 2px;
}
.atag {
  text-decoration: underline;
}

.midd {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.midd p {
  font-weight: bold;
  opacity: 0.5;
}
.logof {
  width: 150px;
  margin: auto;
  display: block;
}
.brand {
  display: block;
  margin: auto;
  position: relative;
}
